<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModelName</key>
	<string>Haru.moc</string>
	<key>ModelTextures</key>
	<array>
		<string>Haru.1024/texture_00.png</string>
		<string>Haru.1024/texture_01.png</string>
		<string>Haru.1024/texture_02.png</string>
	</array>
	<key>ModelParam</key>
	<dict>
		<key>PARAM_ANGLE_X</key>
		<dict>
			<key>Min</key>
			<real>-30</real>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_ANGLE_Y</key>
		<dict>
			<key>Min</key>
			<real>-30</real>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_ANGLE_Z</key>
		<dict>
			<key>Min</key>
			<real>-30</real>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_EYE_L_OPEN</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>2</integer>
		</dict>
		<key>PARAM_EYE_R_OPEN</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>2</integer>
		</dict>
		<key>PARAM_EYE_L_SMILE</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EYE_R_SMILE</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EYE_FORM</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EYE_BALL_X</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EYE_BALL_Y</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EYE_BALL_FORM</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>0</integer>
		</dict>
		<key>PARAM_BROW_L_Y</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_R_Y</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_L_X</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_R_X</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_L_ANGLE</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_R_ANGLE</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_L_FORM</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BROW_R_FORM</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_MOUTH_FORM</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_MOUTH_OPEN_Y</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_TERE</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BODY_ANGLE_X</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>10</integer>
		</dict>
		<key>PARAM_BODY_ANGLE_Y</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>10</integer>
		</dict>
		<key>PARAM_BODY_ANGLE_Z</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>10</integer>
		</dict>
		<key>PARAM_BREATH</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_ARM_L_A</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_ARM_R_A</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_ARM_L_B</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_ARM_R_B</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BUST_Y</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_HAIR_FRONT</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_HAIR_BACK</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>ModelPart</key>
	<array>
		<string>ROUGH</string>
		<string>PARTS_01_CORE</string>
		<string>PARTS_01_HOHO_001</string>
		<string>PARTS_01_FACE_001</string>
		<string>PARTS_01_EYE_001</string>
		<string>PARTS_01_EYE_BALL_001</string>
		<string>PARTS_01_BROW_001</string>
		<string>PARTS_01_MOUTH_001</string>
		<string>PARTS_01_NOSE_001</string>
		<string>PARTS_01_EAR_001</string>
		<string>PARTS_01_HAIR_FRONT_001</string>
		<string>PARTS_01_HAIR_SIDE_001</string>
		<string>PARTS_01_HAIR_BACK_001</string>
		<string>PARTS_01_NECK_001</string>
		<string>PARTS_01_BODY_001</string>
		<string>PARTS_01_ARM_L_A_001</string>
		<string>PARTS_01_ARM_R_A_001</string>
		<string>PARTS_01_ARM_L_B_001</string>
		<string>PARTS_01_ARM_R_B_001</string>
	</array>
</dict>
</plist>
