<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ModelName</key>
	<string>Wankoromochi.moc</string>
	<key>ModelTextures</key>
	<array>
		<string>Wankoromochi.1024/texture_00.png</string>
	</array>
	<key>ModelParam</key>
	<dict>
		<key>PARAM_ANGLE_X</key>
		<dict>
			<key>Min</key>
			<real>-30</real>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_ANGLE_Y</key>
		<dict>
			<key>Min</key>
			<real>-30</real>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_ANGLE_Z</key>
		<dict>
			<key>Min</key>
			<real>-30</real>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_EYE_L_OPEN</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EYE_R_OPEN</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_MOUTH_FORM</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_MOUTH_OPEN_Y</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_TERE</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BODY_ANGLE_X</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>10</integer>
		</dict>
		<key>PARAM_BODY_ANGLE_Y</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>10</integer>
		</dict>
		<key>PARAM_BODY_ANGLE_Z</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>10</integer>
		</dict>
		<key>PARAM_BREATH</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BOWL_LID</key>
		<dict>
			<key>Min</key>
			<integer>-10</integer>
			<key>Max</key>
			<integer>50</integer>
		</dict>
		<key>PARAM_YUGE_01</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_YUGE_02</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EFFECT</key>
		<dict>
			<key>Min</key>
			<integer>0</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EAR_L</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_EAR_R</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_HAND_L</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_HAND_R</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_SWING</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BOWL_SWING</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_FACE_01</key>
		<dict>
			<key>Min</key>
			<integer>-1</integer>
			<key>Max</key>
			<integer>1</integer>
		</dict>
		<key>PARAM_BASE_X</key>
		<dict>
			<key>Min</key>
			<integer>-30</integer>
			<key>Max</key>
			<integer>30</integer>
		</dict>
		<key>PARAM_BASE_Y</key>
		<dict>
			<key>Min</key>
			<integer>-30</integer>
			<key>Max</key>
			<integer>30</integer>
		</dict>
	</dict>
	<key>ModelPart</key>
	<array>
		<string>ROUGH</string>
		<string>PARTS_01_CORE</string>
		<string>PARTS_01_CORE_ITEM</string>
		<string>PARTS_01_EFFECT</string>
		<string>PARTS_01_HOHO</string>
		<string>PARTS_01_FACE_001</string>
		<string>PARTS_01_EYE_001</string>
		<string>PARTS_01_EYE_BALL_001</string>
		<string>PARTS_01_BROW_001</string>
		<string>PARTS_01_MOUTH_001</string>
		<string>PARTS_01_NOSE_001</string>
		<string>PARTS_01_EAR_001</string>
		<string>PARTS_01_BODY</string>
		<string>PARTS_01_BOWL</string>
		<string>PARTS_01_BACKGROUND</string>
		<string>PARTS_01_SKETCH</string>
	</array>
</dict>
</plist>
